# BIODIVERSITY IN NATION PARKS

## Introduction

This goal of this project is to analyze biodiversity data from these four National Parks during a one week period.
* Bryce National Park
* Great Smoky Mountains National Park* 
Yellowstone National Par
* 
Yosemite National Pa

This project will analyze data, and seek to find the answers to:
* How many species were observed this week, at these four National Parks?
* What are the convervation status of these species?
* What category of species is most protected?rk

## Data sources
Both observation.csv and species_info.csv was provided by Codecademy.com.
The data for this project is inspired by real data, but is mostly fictional.

In [2]:
from IPython.display import Image
Image(url="yosemite-park.jpg", width=300, height=300)

In [3]:
# Import Python modules
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

from scipy.stats import chi2_contingency

from itertools import chain
import string

## Load in data
There are 2 data files to load in.

In [5]:
species = pd.read_csv('species_info.csv',encoding='utf-8')
species.head(20)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered
10,Mammal,Urocyon cinereoargenteus,"Common Gray Fox, Gray Fox",NaN
11,Mammal,Vulpes fulva,"Black Fox, Cross Fox, Red Fox, Silver Fox",NaN
12,Mammal,Vulpes vulpes,Red Fox,NaN
13,Mammal,Felis concolor,Mountain Lion,NaN
14,Mammal,Felis silvestris,"Wild Cat, Wildcat",NaN
15,Mammal,Lynx rufus,Bobcat,NaN
16,Mammal,Puma concolor,Panther (Mountain Lion),NaN
17,Mammal,Mephitis mephitis,Striped Skunk,NaN
18,Mammal,Spilogale putorius,Eastern Spotted Skunk,NaN
19,Mammal,Lontra canadensis,River Otter,NaN

In [7]:
observations = pd.read_csv('observations.csv', encoding='utf-8')
observations.head(10)

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
5,Elymus virginicus var. virginicus,Yosemite National Park,112
6,Spizella pusilla,Yellowstone National Park,228
7,Elymus multisetus,Great Smoky Mountains National Park,39
8,Lysimachia quadrifolia,Yosemite National Park,168
9,Diphyscium cumberlandianum,Yellowstone National Park,250